---
// TypeScript interface for client data
interface Props {
	nom: string;
	descripcio: string;
	preu: number;
}

// Destructuring props passed to the component
const {nom, descripcio, preu} = Astro.props;
---

<!-- Component: Client Card -->
<a href={`/platos/${nom}`} class="rounded-lg border shadow-md bg-[#fff] border-gray-300 hover:scale-105 hover:bg-gray-300 transition flex flex-col h-5/6 w-full">
	<picture class="flex justify-center h-4/5 w-full object-cover">
		<img src="https://knoweats.com/cdn/shop/files/carrilleras-cerdo-px-knoweats.jpg?v=1693166335&width=990" alt="" class="object-cover w-full h-full" />
	</picture>
	<header class="p-4 flex-grow">
		<span class="text-xs font-semibold mr-2 px-2.5 py-0.5 rounded bg-green-500"> Disponible </span>
		<h2 class="my-2 text-3xl font -bold tracking-tight text-[#202202]">{nom}</h2>
		<p class="font-light text-[#202202]">
			{descripcio}
		</p>
		<p class="pt-5 text-2xl font-extrabold text-[#202202]">
			{preu} €
		</p>
	</header>
</a>
